
/*FONTS*/
.mono {
	font-family: 'Roboto Mono', monospace;
}
.montserrat {
	font-family: 'Montserrat', sans-serif;
}
.futura-light {
	font-family: futura-medium;
}
@font-face {
    font-family: futura-medium;
    src: url('fonts/Gilroy-Light.otf');
}
/*COLORS*/

/*CENTERING*/
.center {
  display: flex;
  justify-content: center;
}
.pattern1 {
	background-color:#269;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.gradient1 {
	background: #F3904F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
}
.main-card {
  height: 350px;
  width: 60%;
}
.card-text-padding {
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 9px;
	padding-bottom: 9px;
}
.rounded-small {
	border-radius: 8px 8px 8px 8px;
}
.rounded-large {
	border-radius: 30px 30px 30px 30px;
}
.rounded {
	border-radius: 10px 10px 10px 10px;
}
.rounded-left{
	border-radius: 9px 0px 0px 9px;
}
.rounded-right{
	border-radius: 0px 9px 9px 0px;
}
.title {
margin-top: 1%;
font-size:150px;
}
.outline {
	border: 1.5px solid #e8eaf6 ;
}
.outline:hover {
	border: 1.5px solid #fafafa;
	background-color: #424242;
}

.waves-effect.waves-blue .waves-ripple {

    background-color: rgba(66,133,244, 0.85);
}
.btn-md2
{
	text-transform: capitalize;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 13px;
	padding-right: 13px;
	font-size:16px;
}
.btn-outline
{
	font-size:15px;
	background-color: #212121;
}
.lowercase
{
	text-transform: capitalize;
}
.mySlides
{
	transition: all 1s;
}
.invert
{
	background-color: #fafafa;
	color: #616161;
}
#button:hover {
	background-color: #e8eaf6;
	color: #039be5;
}
#button:active {
	background-color: #03a9f4;
	color: #f5f5f5;
}
.card
{
	width: 1000px;
}
.cart-title {
	position:relative; top:80px;
}
.mix {
	position: absolute;
 top: 10px;
 z-index: -100;
 width: 400px;
 left: 80px;
 opacity: 0.8;
}
.mi5x {
	position:absolute;
 top: -10px;
 z-index: -100;
 width: 620px;
 opacity: 0.99;
 right: 0px;
}
@media only screen and (max-width: 768px) {
	.title {
	margin-top: 1%;
	font-size:90px;
	}
	.mix
	{
		opacity: 0;
	}
	.mi5x
	{
		opacity: 0;
	}
	.cart-title {
		position:relative; top:40px;
		height: 53px;
		width: 53px;
	}
	.card
	{
		margin-left: 7px;
		margin-right: 7px;
	}
	.offer {
		position: absolute;
		top: 7px;
		width: 100px;
		font-size: 15px;
	}
	.btn-outline {
		display: flex;
		margin-top: 5px;
		left: 100px
	}
}
#position
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#selection
{
	margin-top: 20px;
}
.offer {
	position: absolute;
	right: 7px;
	bottom: 7px;
	width: 100px;
	font-size: 20px;
}
